.menu-items{
    display: flex;
    list-style: none;
    color: green;
    font-size: 25px;
}

.nav-logo{
    width: 350px;
}

.menu{
    display: flex;
    
    align-items: center;
}
.menu-items>li>a{
    background-color: #5c5e00;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.menu-items>li>a:hover {
    background-color: rgb(228, 196, 18);
}

.nav-button{
    font-size: 25px;
    padding: 5px 35px;
    background-color: rgb(65, 65, 65);
    color: rgb(245, 245, 245);
    border-radius: 15px;
    margin-left: 35px;
}
.nav-button:hover{
    background-color: #ec7200;
}

.nav-search{
    display: flex;
    align-items: center;
}

.form-search{
    padding: 25px 10px;
}

.search-input{
    width: 70%;
    height: 25px;
}

.filtro{
    height: 50px;
    margin-bottom: 15px;
}

.form-add{
    border: 2px dotted black;
    border-radius: 10px;
}

.add-label{
    padding: 15px;
}

.add-input{
    margin: 5px;
}

.add-btn{
    position:relative;
    left: 93%;

}

.show-table{
    margin-top: 25px;
}
 table, th, tr, td{
     border: 1px solid black;
 }