.menu-items{
    display: flex;
    list-style: none;
    color: green;
    font-size: 15px;
}

.nav-logo{
    width: 250px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu-items>li>a{
    background-color: #5c5e00;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.menu-items>li>a:hover {
    background-color: rgb(228, 196, 18);
}

.nav-button{
    font-size: 15px;
    padding: 15px 25px;
    background-color: rgb(65, 65, 65);
    color: rgb(245, 245, 245);
    border-radius: 15px;
    margin-left: auto;
}
.nav-button:hover{
    background-color: #ec7200;
}

.nav-search{
    display: flex;
    align-items: center;
}

.form-search{
    padding: 25px 10px;
}

.search-input{
    width: 70%;
    height: 25px;
}

.filtro{
    height: 50px;
    margin-bottom: 15px;
}

.form-add{
    border: 2px dotted black;
    border-radius: 10px;
}

.add-label{
    padding: 15px;
}

.add-input{
    margin: 5px;
}

.add-btn{
    float: right;

}

.show-table{
    margin-top: 25px;
    border: 10px solid rgb(228, 124, 54);
}
 table, th, tr, td{
     border: 2px solid rgb(146, 144, 0);
 }

.btn-eliminar{
    font-size: 15px;
    background-color: #dd0000;
    color: bisque;
    width: fit-content;
    
}

.btn-editar{
    margin: 10px;
    font-size: 15px;
    background-color: #00c0b6;
    color: rgb(63, 57, 50);
    width: fit-content;
}

.btn-editar:hover,.btn-eliminar:hover{
    cursor: pointer;
}

 .contenedor-tabla{
     display:grid;
     
 }